<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>

    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
